#!/bin/bash

#fork names (which will be used in cli)
forks=(chia flora tad hddcoin flax spare greendoge dogechia avocado goji seno chaingreen)

#name of the profile folder like ~/.chia sometimes its different
forksProfile=(chia flora tad hddcoin flax spare-blockchain greendoge dogechia avocado goji seno chaingreen)

#fork repos
forksGit=( )
forksGit[0]=https://github.com/Chia-Network/chia-blockchain.git
forksGit[1]=https://github.com/Flora-Network/flora-blockchain.git
forksGit[2]=https://github.com/Tad-Network/tad-blockchain.git
forksGit[3]=https://github.com/HDDcoin-Network/hddcoin-blockchain.git
forksGit[4]=https://github.com/Flax-Network/flax-blockchain.git
forksGit[5]=https://github.com/Spare-Network/spare-blockchain.git
forksGit[6]=https://github.com/GreenDoge-Network/greendoge-blockchain.git
forksGit[7]=https://github.com/DogeChia/doge-chia.git
forksGit[8]=https://github.com/avocado-network/avocado-blockchain.git
forksGit[9]=https://github.com/GetGoji/goji-blockchain.git
forksGit[10]=https://github.com/denisio/seno-blockchain.git
forksGit[11]=https://github.com/ChainGreenOrg/chaingreen-blockchain.git