#!/bin/bash

#fork names (which will be used in cli)
forks=(chia flora tad hddcoin flax spare greendoge dogechia avocado goji seno chaingreen)

#name of the profile folder like ~/.chia sometimes its different
forksProfile=(chia flora tad hddcoin flax spare-blockchain greendoge dogechia avocado goji-blockchain seno2 chaingreen)

#fork repos
forksGit=(
	https://github.com/Chia-Network/chia-blockchain.git
	https://github.com/Flora-Network/flora-blockchain.git
	https://github.com/Tad-Network/tad-blockchain.git
	https://github.com/HDDcoin-Network/hddcoin-blockchain.git
	https://github.com/Flax-Network/flax-blockchain.git
	https://github.com/Spare-Network/spare-blockchain.git
	https://github.com/GreenDoge-Network/greendoge-blockchain.git
	https://github.com/DogeChia/doge-chia.git
	https://github.com/avocado-network/avocado-blockchain.git
	https://github.com/GetGoji/goji-blockchain.git
	https://github.com/denisio/seno-blockchain.git
	https://github.com/ChainGreenOrg/chaingreen-blockchain.git
)

plotDirs=(
	/mnt/POOL-001
	/mnt/POOL-002
	/mnt/POOL-003
	/mnt/POOL-004
	/mnt/POOL-005
	/mnt/POOL-006
	/mnt/POOL-007
	/mnt/POOL-008
	/mnt/POOL-009
	/mnt/POOL-010
	/mnt/POOL-011
	/mnt/POOL-012
	/mnt/POOL-013
	/mnt/POOL-014
	/mnt/POOL-015
	/mnt/POOL-016
	/mnt/POOL-017
	/mnt/POOL-018
	/mnt/POOL-019
	/mnt/POOL-020
	/mnt/POOL-021
	/mnt/POOL-022
	/mnt/POOL-023
	/mnt/POOL-024
	/mnt/POOL-025
	/mnt/POOL-026
	/mnt/POOL-027
	/mnt/POOL-028
	/mnt/POOL-029
	/mnt/POOL-030
	/mnt/POOL-031
	/mnt/POOL-032
	/mnt/POOL-033
	/mnt/POOL-034
	/mnt/POOL-035
	/mnt/POOL-036
	/mnt/SOLO-001
	/mnt/SOLO-002
	/mnt/SOLO-003
	/mnt/SOLO-005
	/mnt/SOLO-006
	/mnt/SOLO-007
	/mnt/SOLO-008
	/mnt/SOLO-009
	/mnt/SOLO-010
	/mnt/SOLO-011
	/mnt/SOLO-012
	/mnt/SOLO-013
	/mnt/SOLO-014
	/mnt/SOLO-015
	/mnt/SOLO-016
	/mnt/SOLO-017
	/mnt/SOLO-018
	/mnt/SOLO-019
	/mnt/SOLO-020
	/mnt/SOLO-021
	/mnt/SOLO-022
	/mnt/SOLO-023
	/mnt/SOLO-024
	/mnt/SOLO-025
	/mnt/SOLO-026
	/mnt/SOLO-027
	/mnt/SOLO-028
	/mnt/SOLO-029
	/mnt/SOLO-030
	/mnt/SOLO-031
	/mnt/SOLO-032
	/mnt/SOLO-033
	/mnt/SOLO-034
	/mnt/SOLO-035
	/mnt/SOLO-036
)